<div class="flex flex-row flex-wrap">
  <div class="flex_chart">
    <%= render(HomeWeb.GraphView, "barchart.html", url: HomeWeb.Router.Helpers.api_energy_path(HomeWeb.Endpoint, :hourly_gas_usage)) %>
  </div>

  <div class="flex_chart">
    <%= render(HomeWeb.GraphView, "barchart.html", url: HomeWeb.Router.Helpers.api_energy_path(HomeWeb.Endpoint, :hourly_electricity_usage)) %>
  </div>

  <div class="flex_chart">
    <%= live_render(@conn, HomeWeb.CurrentEnergyGraphLive) %>
  </div>
</div>
