<div class="smart-light-toggle hidden-left" phx-click="toggle_light">
  <span style="padding: 0px 9px; margin-right: 10px; border-radius: 100%; background-color: <%= state_color(assigns.state) %>;"></span>
  <%= assigns.name %>
</div>
