<!DOCTYPE html>
<html lang="en" class="bg-gray-200 bg-opacity-25">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home</title>
    <%= csrf_meta_tag() %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="">
    <div id="header" class="bg-indigo-700 h-16">
      <div id="widgets" class="flex h-full flex-col justify-center">
        <div class="flex flex-row-reverse">
          <%= live_render(@conn, HomeWeb.TemperatureLive) %>
          <%= live_render(@conn, HomeWeb.WindspeedLive) %>
          <%= live_render(@conn, HomeWeb.CurrentEnergyLive) %>
        </div>
      </div>
    </div>

    <div class="flex flex-row">
      <div id="menu" class="flex-none w-32 p-4">
        <div class="menu-item"><a href="https://ter-maat.com/graphs">Graphs</a></div>
        <div class="menu-item"><a href="https://ter-maat.com/torrent/">Torrents</a></div>
      </div>

      <div id="content" class="p-4">
        <%= @inner_content %>
      </div>
    </div>
    <p class="absolute right-0 bottom-0">0.2.1</p>
  </body>
</html>
