<!DOCTYPE html>
<html lang="en" class="bg-gray-200 bg-opacity-25">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home</title>
    <%= csrf_meta_tag() %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js" integrity="sha512-SuxO9djzjML6b9w9/I07IWnLnQhgyYVSpHZx0JV97kGBfTIsUYlWflyuW4ypnvhBrslz1yJ3R+S14fdCWmSmSA==" crossorigin="anonymous"></script>

    <style>
      #menu-toggle:checked+#menu {
        transition: all 300ms ease-in-out;
        transform: translate(500px, 0);
      }

      #menu-toggle:not(:checked)+#menu {
        transition: all 300ms ease-in-out;
        transform: translate(-500px, 0);
      }
    </style>
  </head>

  <body class="">
    <div id="header" class="bg-indigo-700 h-16">
      <div>
        <label for="menu-toggle" class="cursor-pointer block absolute m-4">
          <svg class="fill-current text-gray-900" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 20 20">
           <title>menu</title>
           <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
        </label>
        <input class="hidden" type="checkbox" id="menu-toggle" />

        <div class="hidden-left absolute mt-16 bg-gray-200 h-full" id="menu">
          <nav>
            <ul class="">
              <li class="menu-item"><a href="<%= Routes.home_path(@conn, :index) %>">Dashboard</a></li>
              <li class="menu-item"><a href="https://ter-maat.com/graphs">Graphs</a></li>
              <li class="menu-item"><a href="https://ter-maat.com/torrent/">Torrents</a></li>
              <li class="menu-item"><a href="<%= Routes.energy_path(@conn, :gas) %>">Energy</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div id="widgets" class="flex h-full flex-col justify-center">
        <div class="flex flex-row-reverse">
          <%= live_render(@conn, HomeWeb.TemperatureLive) %>
          <%= live_render(@conn, HomeWeb.WindspeedLive) %>
          <%= live_render(@conn, HomeWeb.CurrentEnergyLive) %>
        </div>
      </div>
    </div>

    <div id="content" class="p-4 w-full h-full">
      <%= @inner_content %>
    </div>
    <p class="fixed right-0 bottom-0">
    <%=
      {:ok, version} = :application.get_key(:home_bot, :vsn)
      version
    %>
    </p>
  </body>
</html>
