<div class="w-full bg-indigo-400 flex flex-horizontal flex-wrap">
  <div class="p-1 m-1 <%= if assigns[:page] == :transactions, do: "text-gray-300" %>"><a href="<%= Routes.finance_path(HomeWeb.Endpoint, :transactions) %>">Transactions</a></div>
</div>
